@import '../../style/variables.scss';

.char {
    &__content {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 650px 425px;
        column-gap: 25px;
        align-items: start;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 200px);
        column-gap: 25px;
        row-gap: 30px;
    }
    &__list{
        text-align: center;
        span {
            display: block;
            font-size: 30px;
            margin-top: 20px;
            animation: flicker 2s linear infinite;
        }
    }
    &__item {
        width: 200px;
        height: 318px;
        background-color: $dark;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, .25);
        padding: 15px;
        cursor: pointer;
        transition: 0.3s transform;
        img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            transform: translate(-15px, -15px);
        }
        &_selected {
            box-shadow: 0 5px 20px $main-color;
            transform: translateY(-8px);
        }
    }
    &__name {
        font-weight: bold;
        font-size: 22px;
        line-height: 29px;
        text-transform: uppercase;
        color: #fff;
    }

}

@media (max-width: 1024px ) {
    .char{
        &__content {
            grid-template-columns: 475px 425px;
        }
        &__grid {
            grid-template-columns: repeat(2, 200px);
        }
    }
}
@media (max-width: 992px ) {
    .char{
        &__content {
            grid-template-columns: 425px 375px;
        }
        &__grid {
            grid-template-columns: repeat(2, 200px);
        }
    }

}

@media (max-width: 768px) {
    .char{
        &__content {
            grid-template-columns: 415px 330px;
            column-gap: 5px;
            row-gap: 5px;
        }
        &__grid {
            grid-template-columns: repeat(2, 200px);
            column-gap: 10px;
            row-gap: 10px;
        }
    }
}
@media (max-width: 481px){
    .char{
        &__content{
            grid-template-columns: 220px 220px;
            column-gap: 5px;
            row-gap: 5px;
        }
        &__grid {
            grid-template-columns: repeat(1, 1fr);
            column-gap: 10px;
            row-gap: 10px;
        }
    }
}
@media (max-width: 320px){
    .char{
        &__content{
            grid-template-columns: 1fr;
            column-gap: 5px;
            row-gap: 5px;
            align-items: center;
            justify-content: center;
        }
        &__item {
            width: 280px;
            img{
                width: 200px;
            }
        }
    }
}