@import '../../style/variables.scss';

.randomchar {
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: repeat(2, 50%);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
  align-items: center;
  justify-content: center;
  &__block {
    padding: 40px 35px;
    display: grid;
    grid-template-columns: 180px auto;
    column-gap: 30px;
  }

  &__img {
    width: 180px;
    height: 180px;
    object-fit: contain;
  }

  &__info {
    display: grid;
    grid-template-rows: minmax(29px, auto) 125px 38px;
    row-gap: 10px;
    padding-top: 3px;
  }

  &__name {
    font-weight: bold;
    font-size: 22px;
    line-height: 29px;
    text-transform: uppercase;
  }

  &__descr {
    font-size: 14px;
    line-height: 18px;
  }

  &__btns {
    a:nth-child(1) {
      margin-right: 30px;
    }
  }

  &__static {
    padding: 40px 35px;
    background-color: $dark;
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 100%;
    button {
      margin-top: 13px;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.045em;
    color: #FFFFFF;

    &:nth-child(2) {
      margin-top: 33px;
    }
  }


}
@media (max-width: 1024px) {
  .randomchar{
    &__btns{
      display: flex;
    }
  }
}

@media (max-width: 992px) {
  .randomchar{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,50%);
    &__descr {
      font-size: 18px;
      line-height: 18px;
    }
  }
}
@media (max-width: 768px) {
  .randomchar{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,50%);
    &__block {
      padding: 10px 10px;
    }
    &__descr {
      font-size: 18px;
      line-height: 18px;
    }
    &__static{
      padding: 10px 10px;
    }
  }
}
@media (max-width: 481px) {
  .randomchar{
    &__block{
      padding: 10px 10px;
      column-gap: 10px;
      grid-template-columns: 180px 150px;
    }
    &__descr {
      font-size: 12px;
      line-height: 15px;
    }
    &__static{
      padding: 10px 10px;
    }
    &__info {
      grid-template-rows: minmax(29px, auto) 90px 38px;
    }
    &__decoration {
      display: none;
    }
  }
}